@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: white;
}

#main {
    display: grid;
    margin: 20px auto 20px auto;
    width: 90%;
}

#main img {
    width: 100%;
    align-self: center;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
}

#main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #949494;
    margin: 0 20px 0 20px;
}

#navigation {
    display: grid;
    position: relative;
    margin: 20px auto 20px auto;
}

div.search {
    display: flex;
    position: absolute;
    background-color: lightgray;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-radius: 15px;
}

div.search div {
    display: grid;
    max-width: 50px;
}

div.search div span {
    font-size: 40px;
    color: orange;
    user-select: none;
    margin: auto;
}

div.search div#search_button {
    flex: 1;
}

div.search div#filter_button {
    flex: 3;
}

div.search input {
    flex: 2;
    height: 50px;
    background-color: lightgray;
    color: gray;
    margin: 0 auto 0 auto;
    border-width: 0;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
}

div.search input:focus-visible {
    outline: white auto 0;
}

#filter {
    display: none;
    border-radius: 15px;
    height: 200px;
    width: 90%;
    background-color: #e2e2e2;
    align-self: center;
    margin: 0 auto 0 auto;
}

#vacancies ul li {
    list-style-type: none;
    border-radius: 15px;
    background-color: lightgray;
}