@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: white;
}

#main {
    display: block;
}

#vacancy {
    display: none;
    padding: 15px 10px 0 10px;
}

#head {
    display: grid;
    margin: 20px auto 20px auto;
    width: 90%;
}

#head img {
    width: 100%;
    align-self: center;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
}

#head p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    color: #949494;
    margin: 0 20px 0 20px;
}

#navigation {
    display: grid;
    position: relative;
    margin: 0 auto 70px auto;
}

div.search {
    display: flex;
    position: absolute;
    background-color: lightgray;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-radius: 15px;
}

#navigation#spacer {
    display: block;
    height: 50px;
    margin-bottom: 20px;
}

div.search div {
    display: grid;
    max-width: 50px;
}

div.search div span {
    font-size: 35px;
    color: #ff5e00;
    user-select: none;
    margin: auto;
    cursor: pointer;
}

div.search div#search_button {
    flex: 1;
}

div.search div#filter_button {
    flex: 3;
}

div.search input {
    flex: 2;
    height: 50px;
    background-color: lightgray;
    color: gray;
    margin: 0 auto 0 auto;
    border-width: 0;
    padding: 20px 0 20px 0;
    font-size: 20px;
    max-width: 70%;
    box-sizing: border-box;
}

div.search input:focus-visible {
    outline: white auto 0;
}

#filter {
    display: none;
    border-radius: 15px;
    height: 200px;
    width: 90%;
    background-color: #e2e2e2;
    align-self: center;
    margin: 0 auto 0 auto;
}

#vacancies ul {
    padding: 0;
    max-width: 90%;
    margin: auto;
}

#vacancies ul li {
    user-select: none;
    cursor: pointer;
    list-style-type: none;
    border-radius: 15px;
    background-color: #e2e2e2;
    padding: 20px 30px 20px 30px;
    margin-left: 0;
    margin-bottom: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    color: gray;
}

#vacancies ul li h3 {
    color: #ff5e00;
    margin: 0 0 10px -10px;
}

#project {
    font-size: 25px;
    color: #ff5e00;
    margin: 0 0 15px 0;
    font-family: 'Roboto', Arial, sans-serif;
}

#vacancy span {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}

#vacancy_card {
    background-color: #e2e2e2;
    border-radius: 15px;
    padding: 20px;
}

#request div input {
    flex: 2;
    height: 50px;
    background-color: #e2e2e2;
    color: gray;
    margin: 0 auto 0 auto;
    border-width: 0;
    padding: 20px 0 20px 0;
    font-size: 20px;
    max-width: 70%;
    box-sizing: border-box;
}

#request div {
    background-color: #e2e2e2;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto 20px auto;
}

#request div span {
    color: #ff5e00;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;

}