@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: white;
    margin: 20px 0 90px 0;
}

div {
    transition: max-height, 0.5s linear;
    /* transition:, 0.5s linear; */
}

::-webkit-scrollbar {
    display: none;
}

#menu {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #E1E1E1;
    z-index: 10;
}

#menu div {
    color: black;
    display: grid;
    flex: 1 1 0;
    cursor: pointer;
    padding: 10px 0;
}

#menu div svg {
    margin: auto;
}

#menu div svg path {
    stroke: black;
}

#menu div p {
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    margin: auto 0;
    text-align: center;
    user-select: none;
}

#main {
    overflow: hidden;
    display: block;
}

#head {
    display: grid;
    margin: 20px auto 0 auto;
    width: 90%;
}

#head img {
    width: 90%;
    align-self: center;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
}

#head p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    user-select: none;
    margin: 0 10px;
}

#navigation {
    position: relative;
    margin: 0 auto 10px auto;
}

div.filter {
    display: flex;
    /* position: relative; */
    background-color: #F5F5F5;
    left: 0;
    width: 100%;
    z-index: 1;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-radius: 10px;
    cursor: pointer;
}

div.filter div {
    display: grid;
    max-width: 50px;
    flex: 3;
}

div.filter p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #FE5E00;
    padding-left: 20px;
    user-select: none;
    margin: 15px 0 15px 0;
}

div.filter div span {
    font-size: 30px;
    color: #FE5E00;
    user-select: none;
    margin: auto;
}

div.filter div {
    margin: 0 10px 0 auto;
}

#filter {
    /* display: none; */
    transition: max-height, 0.5s linear;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    margin: 0 auto 30px auto;
    padding: 0px;
    width: 90%;
    max-height: 0;
    overflow: hidden;
}

#filter div.item {
    display: flex;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
    user-select: none;
    border: solid 1px lightgray;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    margin: 5px 0;
}

#filter div.item p {
    padding-left: 20px;
}

#filter div.item div {
    display: grid;
    width: 50px;
    margin: 0 0 0 auto;
}

:active {
    outline: none;
}

#filter div.item div span {
    margin: auto;
}

#filter ul {
    max-height: 0px;
    padding: 0;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    transition: max-height, 0.5s linear;
    overflow: hidden;
    display: block;
}

#filter ul li {
    display: flex;
    white-space: pre-wrap;
    user-select: none;
    cursor: pointer;
    list-style-type: none;
    background-color: white;
    padding: 10px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin: 0px 5px 5px 5px;
}

#filter ul li p {
    margin: auto 0;
    color: black;
}

#filter ul li span {
    margin: auto 0 auto auto;
}

#payment_from {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    background-color: #F5F5F5;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
    /* display: none; */
}

#payment_from input {
    background-color: #F5F5F5;
    border-radius: 10px;
    border-width: 0;
    height: 25px;
    margin: auto 10px;
    width: inherit;
    padding: 10px;
    color: black;
    box-sizing: border-box;
}

#payment_from input:focus-visible {
    outline-width: 0;
}

#payment_from span {
    margin: auto 5px auto auto;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #FE5E00;
    user-select: none;
}

#vacancies ul {
    padding: 0;
    max-width: 90%;
    margin: auto;
}

#vacancies ul li {
    user-select: none;
    cursor: pointer;
    list-style-type: none;
    border-radius: 10px;
    background-color: white;
    margin-left: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    color: black;
    padding-bottom: 10px;
    position: relative;
}

#vacancies ul li h3 {
    color: #FE5E00;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.description div {
    display: flex;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

.description div .header {
    font-weight: bold;
    margin-right: 5px;
    flex: 0 1 33.33%;
}

.description div span {
    flex: 0 1 66.66%;
    font-size: 15px;
}

#vacancies ul li div.name {
    display: grid;
    background-color: #F5F5F5;
    margin: 0 auto 5px auto;
    border-radius: 10px;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px 20px;
}

#vacancies ul li div.support {
    margin-left: 20px;
    margin-right: 20px;
}

#project {
    font-size: 20px;
    text-align: center;
    color: #FE5E00;
    margin: auto;
    font-family: 'Roboto', Arial, sans-serif;
}

#vacancy {
    height: 100%;
    background-color: white;
    /* display: none; */
    /* max-height: 0px; */
    overflow: scroll;
    width: -webkit-fill-available;
    position: fixed;
    top: 0;
    /* margin-top: 10px; */
    z-index: 2;
    transform: translateX(100vw);
    padding: 10px;
}

#vacancy span {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    color: black;
}

#vacancy_card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
}

#vacancy_card div.name {
    display: grid;
    background-color: #F5F5F5;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px 20px;
}

#vacancy_card div.support {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#request div input {
    flex: 2;
    height: 50px;
    background-color: white;
    color: black;
    margin: 0 auto 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E1E1;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

#request div input:focus-visible {
    outline: #F5F5F5 auto 0;
    border-color: #FE5E00;
}

#request {
    transition: max-height, 0.5s linear;
    max-height: 0;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 250px;
    /* display: none; */
    position: relative;
}

#request div {
    position: relative;
    display: grid;
    background-color: white;
    border-radius: 10px;
    max-width: 90%;
    margin: 5px auto 15px auto;
}

#request div label {
    color: #FE5E00;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    margin: 0 0 5px 15px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: white;
    padding: 0 5px;
}

#request div textarea {

    color: gray;
    margin: 0 auto 0 auto;
    align-self: center;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E1E1;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
}

#request div textarea:focus-visible {
    outline-width: 0;
    border-color: #FE5E00;
}

#support div input {
    flex: 2;
    height: 50px;
    background-color: white;
    color: black;
    margin: 0 auto 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E1E1;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

#support div input:focus-visible {
    outline: #F5F5F5 auto 0;
    border-color: #FE5E00;
}

#support {
    display: none;
    position: relative;
}

#support div {
    position: relative;
    display: grid;
    background-color: white;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto 20px auto;
}

#support div label {
    color: #FE5E00;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    margin: 0 0 5px 15px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: white;
    padding: 0 5px;
}

#support button {
    display: grid;
    padding: 10px;
    cursor: pointer;
    width: 90%;
    color: white;
    background-color: #FE5E00;
    margin: auto;
    font-size: 15px;
    border-width: 0;
    border-radius: 10px;
}

#support div textarea {
    color: gray;
    margin: 0 auto 0 auto;
    align-self: center;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E1E1;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
}

#support div textarea:focus-visible {
    outline-width: 0;
    border-color: #FE5E00;
}

#contacts {
    display: none;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0 20px;
    border-radius: 20px;
    padding: 20px 23px
}

#contacts h6 {
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 20px;
}

#contacts>div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

#contacts div div {
    display: flex;
}

#contacts div div svg {
    margin: auto 10px;
}

#contacts div p {
    font-size: 13px;
    color: #282828;
    margin: 0 0 5px 10px;
    ;
}

p.not_found {
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: 'Roboto', Arial, sans-serif;
    color: gray;
}

.close-right {
    animation-name: open_move;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.open-right {
    animation-name: close_move;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes open_move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes close_move {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}